<RgfFilterComponent @ref="_rgfFilterRef" EntityParameters="EntityParameters">
    <FilterTemplate Context="RgfFilterComp">
        <FilterConditionComponent FilterComponent="RgfFilterComp" Condition="RgfFilterComp.Condition" />
    </FilterTemplate>
    <FooterTemplate Context="RgfFilterComp">
        <div class="rz-display-flex rz-flex-row rz-justify-content-flex-start rz-align-items-center">
            <div class="rz-p-1">
                <label class="col-form-label">Query timeout</label>
            </div>
            <div class="rz-p-1">
                <RadzenNumeric TValue="int?" @bind-Value="RgfFilterComp.PredefinedFilter.QueryTimeout" ShowUpDown="false" Min="0" Style="width:3rem" />
            </div>

            <div class="rz-p-1">
                <RadzenDropDown @bind-Value="@RgfFilterComp.PredefinedFilterName" Data="_predefList"
                                AllowClear="true" AllowFiltering="true" LoadData="LoadData" Change="OnTextChanged" SearchTextChanged="OnTextChanged" />
            </div>
            <div class="rz-p-1">
                <RadzenLabel Text="@RecroDict.GetRgfUiString("Public")" />
                <RadzenCheckBox @bind-Value=@RgfFilterComp.PredefinedFilter.IsGlobal Disabled="!RgfFilterComp.IsPredefinedFilterAdmin" />
            </div>
            <div class="rz-p-1">
                <RadzenButton ButtonStyle="ButtonStyle.Light" title="@RecroDict.GetRgfUiString("Save")" Icon="save"
                              Disabled="string.IsNullOrEmpty(RgfFilterComp.PredefinedFilter.Name) || !RgfFilterComp.IsPredefinedFilterAdmin && RgfFilterComp.PredefinedFilter.IsGlobal"
                              Click="() => RgfFilterComp.OnSavePredefinedFilter()" />
            </div>
            <div class="rz-pt-1 rz-pb-1">
                <RadzenButton ButtonStyle="ButtonStyle.Light" title="@RecroDict.GetRgfUiString("Delete")" Icon="delete"
                              Disabled="string.IsNullOrEmpty(RgfFilterComp.PredefinedFilter.Key) || !RgfFilterComp.IsPredefinedFilterAdmin && RgfFilterComp.PredefinedFilter.IsGlobal"
                              Click="() => RgfFilterComp.OnDeletePredefinedFilter()" />
            </div>
        </div>
        <div class="rz-display-flex rz-flex-row rz-justify-content-space-between rz-align-items-center">
            <div class="rz-p-1">
                <RadzenSwitch @bind-Value=@RgfFilterComp.IsFilterActive />
                <RadzenLabel Text="@($"{RecroDict.GetRgfUiString("Off")}/{RecroDict.GetRgfUiString("On")}")" />
            </div>
            <div>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="@RecroDict.GetRgfUiString("Cancel")" Click="RgfFilterComp.OnCancel" />
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="OK" Click="RgfFilterComp.OnOk" />
            </div>
        </div>
    </FooterTemplate>
</RgfFilterComponent>

<style>

    li {
        list-style: none outside none;
    }

</style>

@inject IRecroDictService RecroDict
@code {

    [Parameter, EditorRequired]
    public RgfEntityParameters EntityParameters { get; set; } = null!;

    private IRgManager Manager => EntityParameters.Manager!;
    private RgfFilterParameters FilterParameters { get => EntityParameters.FilterParameters; }

    private RgfFilterComponent _rgfFilterRef { get; set; } = default!;
    private List<string> _predefList { get; set; } = default!;

    private void LoadData(LoadDataArgs args)
    {
        _predefList = _rgfFilterRef.FilterHandler.PredefinedFilters.Select(e => e.Name).ToList();
        if (!_predefList.Contains(args.Filter, StringComparer.OrdinalIgnoreCase))
        {
            _predefList.Add(args.Filter);
            _rgfFilterRef.PredefinedFilterName = args.Filter;
        }
        _rgfFilterRef.Recreate();
    }

    private void OnTextChanged(object arg)
    {
        string name = arg?.ToString() ?? "";
        var filter = _rgfFilterRef.FilterHandler.PredefinedFilters.FirstOrDefault(e => e.Name.Equals(name));
        _rgfFilterRef.OnSetPredefinedFilter(filter?.Key, name);
        if (filter != null)
        {
            _rgfFilterRef.Recreate();
        }
    }
}