
<RgfGridColumnSettingsComponent GridComponent="GridComponent">
    <SettingsTemplate Context="RgfColSettings">
        <table class="tablesorter">
            <thead>
                <tr>
                    <th>@RecroDict.GetRgfUiString("Name")</th>
                    <th class="rz-text-align-center">@RecroDict.GetRgfUiString("Position")</th>
                    <th class="rz-text-align-center">@RecroDict.GetRgfUiString("Width")</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < RgfColSettings.Columns.Length; i++)
                {
                    var col = RgfColSettings.Columns[i];
                    <tr>
                        <td class="@($"rz-text-nowrap {col.CssClass}")">@col.Property.ColTitle</td>
                        <td>
                            <RadzenNumeric TValue="int?" @bind-Value="col.ColPos" Style="width:125px" />
                        </td>
                        <td>
                            <RadzenNumeric TValue="int?" @bind-Value="col.ColWidth" Style="width:125px" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </SettingsTemplate>
</RgfGridColumnSettingsComponent>

@code {

    [Parameter, EditorRequired]
    public RgfGridComponent GridComponent { get; set; } = null!;

    private IRecroDictService RecroDict => GridComponent.Manager.RecroDict;
}
