<RgfGridColumnSettingsComponent BaseDataComponent="BaseDataComponent">
    <SettingsTemplate Context="RgfColSettings">
        <table class="tablesorter">
            <thead>
                <tr>
                    <th>@RecroDict.GetRgfUiString("Name")</th>
                    <th class="rz-text-align-center">@RecroDict.GetRgfUiString("Position")</th>
                    <th class="rz-text-align-center">@RecroDict.GetRgfUiString("Width")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var settings in RgfColSettings.Columns)
                {
                    var col = settings;
                    <tr>
                        <td class="@($"rz-text-nowrap {col.CssClass}")">@(col.PathTitle ?? col.Property.ColTitle)</td>
                        <td>
                            <RadzenNumeric TValue="int?" @bind-Value="col.ColPosOrNull" Style="width:125px" />
                        </td>
                        <td>
                            <RadzenNumeric TValue="int?" @bind-Value="col.ColWidthOrNull" Style="width:125px" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </SettingsTemplate>
</RgfGridColumnSettingsComponent>


@inject IRecroDictService RecroDict
@code {

    [Parameter, EditorRequired]
    public RgfDataComponentBase BaseDataComponent { get; set; } = null!;
}